<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67E1E2091C8D63A400846776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E1E2221C8D63A400846776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E1E22D1C8D63A400846776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
